<!-- views/home.ejs -->
<!DOCTYPE html>
<html>
<head>
  <% include ./partials/_head %>
</head>
<body>

  <header>
      <% include ./partials/_header %>
  </header>
<ul>
    <% for(let key in urls){%>

        <% for(let i in urls[key]){%>

          <li><a href="<%= urls[key][i]%>"><%= i%></a>--><%= urls[key][i] %></li>

        <%}%>

    <%}%>

    <a href="http://localhost:<%=PORT %>/register">Register and create your own short URLs</a>
</ul>

</body>
</html>