<!-- uses to save the url  -->
<!-- views/urls_index.ejs -->

<!DOCTYPE html>
<html>
<head>
  <% include ./partials/_head %>
</head>
<body>

    <% for(let i in urls){%>
    <form action="/urls/<%= i%>/delete" method="POST" style="margin:10px;">
      <label><%= i %>-></label>
      <label><a href="<%= urls[i]%>"><%= urls[i] %></a></label>
      <button type="delete">Delete</button>
    </form>
    <%}%>

</body>
</html>