<!-- views/urls_show.ejs -->
<!DOCTYPE html>
<html>
<head>
  <% include ./partials/_head %>
</head>
<body>

  <header>
      <% include ./partials/_header %>
  </header>

  <h3>ShortURL: <%=shortURL%></h3>

  <form action="/urls/<%=shortURL%>/update" method="POST" style="margin:10px;">

      <input id="longURL" type="text" name="longURL" placeholder="<%=longURL%>" style="width: 300px">
      <button type="updata">Update</button>
  </form>



</body>
</html>