<!DOCTYPE html>
<html>
<head>
  <% include ./partials/_head %>
</head>
<body>

  <h3>ShortURL: <%=shortURL%></h3>

  <form action="/urls/<%=shortURL%>/updata" method="POST" style="margin:10px;">

      <input id="longURL" type="text" name="longURL" placeholder="<%=longURL%>" style="width: 300px">
      <button type="updata">Updata</button>
  </form>



</body>
</html>